 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 248, 255); 
  font-family: 'Inter', sans-serif; 
}

/* Additional styles for a more polished look */
h1, h2, h3 {
  color: #333; /* Dark grey for headings */
}

p {
  color: #555; /* Medium grey for paragraph text */
}

/* Input styles for consistency */
input {
  transition: all 0.3s ease; /* Smooth transition for input focus */
}

body {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
